/*******************/
/* CUSTOM VARIABLES*/
/*******************/

:root {
  /* COLORS */
  --clr-white: #fff;
  --clr-white-dull: rgba(255, 255, 255, 0.2);
  --clr-black-400: #070724;
  --clr-grey-400: #38384f;
  --clr-grey-300: #838391;
  --clr-grey-200: #bababa;

  --clr-mercury: #419ebb;
  --clr-venus: #eda249;
  --clr-earth: #6d2ed5;
  --clr-mars: #d14c32;
  --clr-jupiter: #d83a34;
  --clr-saturn: #cd5120;
  --clr-uranus: #1ec1a2;
  --clr-neptune: #2d68f0;

  --clr-button-hover: #313148;

  /* FONTS */
  --ff-antonio: 'Antonio', sans-serif;
  --ff-spartan: 'League Spartan', sans-serif;

  --fs-20: 0.5rem;
  --fs-50: 0.5625rem;
  --fs-100: 0.6875rem;
  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-410: 0.9375rem;
  --fs-420: 1.25rem;
  --fs-450: 1.5rem;
  --fs-500: 1.75rem;
  --fs-600: 2.5rem;
  --fs-650: 3rem;
  --fs-700: 5rem;

  --fw-normal: 500;
  --fw-bold: 700;

  --letter-spacing-100: -1.5px;
  --letter-spacing-200: -1.05px;
  --letter-spacing-400: 0.5px;
  --letter-spacing-600: 1px;
  --letter-spacing-620: 1.36px;
  --letter-spacing-650: 1.93px;
  --letter-spacing-700: 2.6px;
  --letter-spacing-900: 9.45px;
}

/*******************/
/* RESETS          */
/*******************/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
}

input,
form,
select,
textarea,
a {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*******************/
/* DESIGN SYSTEM   */
/*******************/

/* Dimensions */

.h-18 {
  height: 4.5rem;
}

.w-text-area {
  width: 350px;
}

.w-4\/5 {
  width: 80%;
}

/* Layout */

.container {
  width: calc(100% - 80px);
  max-width: 1110px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  column-gap: var(--column-gap, 1rem);
  row-gap: var(--row-gap, 1rem);
}

.grid--2-cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--3-cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid--4-cols {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.align-self-center {
  align-self: center;
}

.align-self-start {
  align-self: flex-start;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-end {
  justify-self: end;
}

/* Spacing */

.py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.mb-5 {
  margin-bottom: 1.25rem !important;
}

.my-5 {
  margin-bottom: 1.25rem !important;
  margin-top: 1.25rem !important;
}

.pl-6 {
  padding-left: 1.5rem !important;
}

.mr-6 {
  margin-right: 1.5rem !important;
}

.mb-6 {
  margin-bottom: 1.5rem !important;
}

.pt-8 {
  padding-top: 2rem !important;
}

.mr-8 {
  margin-right: 2rem !important;
}

.my-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mx-8 {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.m-8 {
  margin: 2rem !important;
}

.pt-9 {
  padding-top: 2.25rem !important;
}

.p-10 {
  padding: 2.5rem !important;
}

.mb-10 {
  margin-bottom: 2.5rem !important;
}

.mb-12 {
  margin-bottom: 3rem !important;
}

.mb-14 {
  margin-bottom: 3.5rem !important;
}

.mr-16 {
  margin-right: 4rem !important;
}

.mb-16 {
  margin-bottom: 4rem !important;
}

.mr-16-5 {
  margin-right: 4.125rem !important;
}

.mt-20 {
  margin-top: 5rem !important;
}

.mb-22 {
  margin-bottom: 5.5rem !important;
}

.mt-32 {
  margin-top: 8rem !important;
}

.mb-32 {
  margin-bottom: 8rem !important;
}

/* Opacity */
.opacity-20 {
  opacity: 0.2 !important;
}

.opacity-40 {
  opacity: 0.4 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

/* Borders */
.border-1-white {
  border: 1px solid var(--clr-white-dull);
}

/* Text */

.heading-primary {
  font-size: var(--fs-700);
  font-family: var(--ff-antonio);
  text-transform: uppercase;
}

.heading-secondary {
  font-size: var(--fs-600);
  font-family: var(--ff-antonio);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-100);
}

.heading-primary,
.heading-secondary {
  line-height: 1.3;
}

.text-sm {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-700);
  line-height: 2.1;
}

.text-xs {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-600);
  line-height: 2.27;
  opacity: 0.5;
}

/* Alignment */

.text-center {
  text-align: center;
}

/* Font size */
.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.text-50 {
  font-size: var(--fs-50) !important;
}

.text-100 {
  font-size: var(--fs-100) !important;
}

.text-200 {
  font-size: var(--fs-200) !important;
}

.text-300 {
  font-size: var(--fs-300) !important;
}

.text-400 {
  font-size: var(--fs-400) !important;
}

.text-500 {
  font-size: var(--fs-500) !important;
}

.text-600 {
  font-size: var(--fs-600) !important;
}

.text-700 {
  font-size: var(--fs-700) !important;
}

/* Letter spacing */
.leading-tighter {
  letter-spacing: var(--letter-spacing-100) !important;
}

.leading-tight {
  letter-spacing: var(--letter-spacing-200) !important;
}

.leading-normal {
  letter-spacing: normal !important;
}

.leading-wide {
  letter-spacing: var(--letter-spacing-400) !important;
}

.leading-pixel {
  letter-spacing: var(--letter-spacing-600) !important;
}

.leading-wider {
  letter-spacing: var(--letter-spacing-700) !important;
}

.leading-widest {
  letter-spacing: var(--letter-spacing-900) !important;
}

/* Line height */

.line-height-1 {
  line-height: 1;
}
/* Font family */
.font-antonio {
  font-family: var(--ff-antonio) !important;
}

.font-spartan {
  font-family: var(--ff-spartan) !important;
}

/* Font colors */

.text-black-400 {
  color: var(--clr-black-400);
}

.text-grey-300 {
  color: var(--clr-grey-300);
}

.text-white-dull {
  color: var(--clr-white-dull);
}

/* Font weight */
.font-normal {
  font-weight: var(--fw-normal);
}

.font-bold {
  font-weight: var(--fw-bold);
}

/* Backgrounds */
.bg-mercury {
  background-color: var(--clr-mercury) !important;
}

.bg-venus {
  background-color: var(--clr-venus) !important;
}

.bg-earth {
  background-color: var(--clr-earth) !important;
}

.bg-mars {
  background-color: var(--clr-mars) !important;
}

.bg-jupiter {
  background-color: var(--clr-jupiter) !important;
}

.bg-saturn {
  background-color: var(--clr-saturn) !important;
}

.bg-uranus {
  background-color: var(--clr-uranus) !important;
}

.bg-neptune {
  background-color: var(--clr-neptune) !important;
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-white-dull {
  background-color: var(--clr-white-dull);
}

.bg-black {
  background-color: var(--clr-black-400);
}

.bg-grey-200 {
  background-color: var(--clr-grey-200);
}

.bg-grey-300 {
  background-color: var(--clr-grey-300);
}

.bg-grey-400 {
  background-color: var(--clr-grey-400);
}

/* Buttons */

.button {
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-white);
  font-size: var(--fs-200);
  border: 1px solid var(--clr-white-dull);
  display: inline-block;
  padding: 0.75rem 0 0.75rem 1.75rem;
  font-weight: var(--fw-bold);
  letter-spacing: var(--letter-spacing-700);
  transition: all 0.3s;
}

.button:hover,
.button.hover {
  background-color: var(--clr-button-hover);
  border: 1px solid var(--clr-button-hover);
}

.button.active {
  border: 1px solid transparent;
}

.button .index {
  color: var(--clr-white);
  opacity: 0.5;
  margin-right: 1.5rem;
}

/*******************/
/* STYLES          */
/*******************/

body {
  background: var(--clr-black-400);
  font-family: var(--ff-spartan);
  color: var(--clr-white);
  font-size: 0.875rem;
  line-height: 1.79;
  background-image: url('./assets/background-stars.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HEADER */

.main-nav-list-item {
  border-top: 4px solid transparent;
  padding-top: 1.5rem;
}

.main-nav-list-item.active {
  border-top: 4px solid var(--active-color);
}

.main-nav-list-item a {
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  opacity: 0.75;
}

.main-nav-list-item.active a {
  opacity: 1;
}

.hamburger {
  display: none;
}

.tab {
  display: none;
}

hr {
  height: 1px;
}

.geology {
  width: 160px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
}

/* Planet Info */

u::after {
  content: url('./assets/icon-source.svg');
  display: inline-block;
  margin-left: 0.5rem;
  width: 12px;
  height: 12px;
}

.planet-extra-info .item {
  padding: 1.25rem 0 1.6875rem 1.5rem;
}

.planet-info-area img {
  grid-row: span 2 !important;
  max-width: 100%;
}

@media (max-width: 63em) {
  .md-mb-7 {
    margin-bottom: 1.75rem !important;
  }

  .md-mt-8 {
    margin-top: 2rem !important;
  }

  .button {
    font-size: var(--fs-50);
    padding: 0.5rem 0 0.5rem 1.25rem;
  }

  .text-xs {
    font-size: var(--fs-20) !important;
  }

  .main-nav-list-item {
    border-top: unset;
    padding-top: unset;
  }

  .main-nav-list-item.active {
    border-top: unset;
  }

  .main-nav-list-item.active a {
    opacity: 0.75;
  }

  body {
    font-size: var(--fs-100);
  }

  .heading-primary {
    font-size: var(--fs-650);
  }

  .heading-secondary {
    font-size: var(--fs-450);
  }

  .text-700 {
    font-size: var(--fs-650);
  }

  .planet-info-area .grid:first-child {
    grid-template-rows: 400px auto;
  }

  .planet-info-area img {
    grid-column: span 2 !important;
    height: 80%;
  }

  .header > .flex {
    flex-direction: column;
    align-items: center;
  }

  .geology {
    top: 0;
    transform: translate(-50%, 100%);
  }

  .source {
    font-size: var(--fs-200);
  }
}

@media (max-width: 41em) {
  .sm-my-18 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
  }

  .heading-primary {
    font-size: var(--fs-600) !important;
  }

  .heading-secondary {
    font-size: var(--fs-420) !important;
  }

  .planet-info-area img {
    grid-row: span 1;
    height: 100%;
  }

  .planet-info-area .grid:first-child {
    grid-template-rows: 50px auto;
    margin-top: 0 !important;
  }

  .static-text {
    grid-column: span 2;
    text-align: center;
  }

  #planet-nav {
    display: none;
  }

  .planet-info-area img {
    grid-column: span 2 !important;
    height: 50%;
  }

  .planet-extra-info {
    grid-template-columns: 1fr;
  }

  .planet-extra-info .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
  }

  .header {
    position: relative;
  }

  .header #main-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger > img {
    opacity: 0.25;
    transition: all 0.3s;
  }

  .hamburger.closed > img {
    opacity: 1;
    transform: rotate(180deg);
  }

  #sliding-nav {
    position: absolute;
    width: 100%;
    top: calc(100% - 3.875rem);
    left: 0;
    background: var(--clr-black-400);
    z-index: 1;
    transition: all 0.3s;
  }

  #sliding-nav.closed {
    transform: translate(100%, 0);
  }

  .sliding-nav-list {
    list-style: none;
    padding: 0 1.5rem;
  }

  .sliding-nav-list-item > a {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .sliding-nav-list-item p {
    text-transform: uppercase;
    font-size: var(--fs-410);
    letter-spacing: var(--letter-spacing-620);
    font-weight: var(--fw-bold);
  }

  .sliding-nav-list-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .sliding-nav-list-item:last-child {
    border-bottom: none;
  }

  .sliding-nav-list img[type='planet'] {
    height: 20px;
    padding-right: 1.5rem;
  }

  .header > .flex {
    flex-direction: row;
    align-items: flex-end;
  }

  .tab {
    display: block;
    height: 3.875rem;
  }

  .tab .grid {
    text-align: center;
  }

  .tab a {
    opacity: 0.5;
    font-weight: var(--fw-bold);
    letter-spacing: var(--letter-spacing-650);
  }

  .tab .active {
    opacity: 1;
    border-bottom: 4px solid var(--active-color);
  }
}
